*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}




/* premiere section : presentation */
 .presentation{
    padding-bottom: 30px;
 }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 0px 50px;
flex-wrap: wrap;
gap: 30px;
}
header h1{
color: rgba(37, 43, 66, 1);
}
.icon_responsive{
    display: none;
    cursor: pointer;
    width: 100px;
    justify-content:  space-between;
}
.cross{
    font-size: 40px;
     opacity: 0;
}
.menu ul {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
}
.menu ul a{
    padding: 5px;
    color:rgba(115, 115, 115, 1) ; 
    text-decoration: none;
    font-weight: bold;
    transition: 0.1s;
}
.menu ul a:hover{
    border-radius: 5px;
    color: #23A6F0;
    transition: 0.1s;
}
.btn_login{
    background-color: white;
    color: #23A6F0;
    padding: 10px 20px;
    border-style: none;
    font-weight: bold;
    font-size: 1em;
    
}
.btn_member{
    text-align: center;
    background: #1678F2;
    color: rgb(255, 255, 255);
    padding: 0.85em;
    font-size: 1em;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    transition: all ease 0.2s;
}
.btn_member:hover{
    transition: all ease 0.2s;
transform: scaleX(1.05);
}
 
.content{
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pr, .home{
    color: rgba(115, 115, 115, 1);
    font-size: 15px; 
    font-weight: bold;
}
.title_content{
    font-size: 3em;
}
.content p {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.content p a{
    padding: 10px;
    color: black;
    text-decoration: none;
}
.buttons_header {
    display: flex;
}
/* deuxieme section : Pricing */
.pricing{
    background-color: rgba(250, 250, 250, 1);
    padding:10px 0px;
}
 
.details{
    margin-top: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details h2, .duration span{
    font-weight: bold;
}
.description{
    width: 500px;
    margin: auto;
}
.duration{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.save{
 background: rgba(178, 227, 255, 1);
    color: rgba(35, 166, 240, 1);
    border-style: none;
    border-radius: 30px;
    padding: 10px;
}
.options{
    padding-top: 50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-end;
gap:0px; 
}
.box1,.box2,.box3{
     
    width: 327px;
     padding: 30px 0px;
     height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: 15px;
    text-align: center;
    border:solid;
    border-width: 1px;
    border-radius: 5px;
 border-color: rgba(35, 166, 240, 1);
 transition: all ease 0.5s;
}
.box1:hover,.box2:hover,.box3:hover{
    transition: all ease 0.5s;
    transform: scale(1.05);
}
 .box2{
    height: 650px;
    background-color: rgba(37, 43, 66, 1);
    color: white;
 }
 .price-1,.price-2,.price-3{
    font-weight: bold;
    color:rgba(35, 166, 240, 1);
    text-align: left;
    height: 60px;
    font-size: 40px;
    position: relative; 
}
.price-1{
    width: 120px;
}
.price-2{
    width: 160px;
}
 .price-3{
    width:180px ;
}

 .value{
    font-size: 20px;
    position: absolute;
   top: -20px;
    right: 70px;
 }
 .tranche{
    font-size: 14px;
    position: absolute;
    right: 10px;
    bottom: 0;
 }

 .nature{
    color: rgba(37, 43, 66, 1);
    font-weight: bold;
 }
 .nature-excp{
    color: white;
 }
.box_detail{
    width: 150px;
    margin: auto;
}
.advantages{
    margin: 20px 0px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:flex-start;
    justify-content: center;
}
.advantages img{
    margin-right: 20px;
}
.advantages span,.description,.desc_faqs{
    color: rgba(115, 115, 115, 1); 
}
.adv{
    font-weight: bolder;
    font-size: 14px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
}
    .btn_try_dark, .btn_try_blue{
        width:246px;
        height: 52px;
        text-align: center;
        background:rgba(37, 43, 66, 1);
        color: rgb(255, 255, 255);
        border-style: none;
        border-radius: 5px;
    
    }
    .btn_try_blue{
        background-color:rgba(35, 166, 240, 1);
        font-weight: bold;
    }
.brands{
    padding: 80px 0px;
    margin: auto;
    text-align: center;
    color: rgba(37, 43, 66, 1);
}
.brands_items{
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    gap: 10px;
}


.FAQs{
    padding: 50px 0px;
}
.desc_faqs{
    text-align: center;
    width: 500px;
    margin: auto;
}
.FAQs_items{
    margin: 30px 0px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}
.FAQ_item{
    width: 450px;
    position: relative;
    padding: 20px 40px; 
}
.FAQ_item p{
    color:rgba(115, 115, 115, 1);
}
.FAQ_item h5 {
margin-bottom: 15px;
}
.arrow{
    position: absolute;
    left: 20px;
    top: 20px;
}
.support{
    color: rgba(115, 115, 115, 1);
    font-size: 20px;
    text-align: center;
}



.trial{
    padding: 50px 0px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 30px;
}
.trial p{
    color: rgba(115, 115, 115, 1);
    font-size: 14px;
    width: 400px;
    text-align: center;
}
.social_media{
    display: flex;
    gap: 2em;
}


 /* footer */
.top_footer{
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center_footer{
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
gap: 30px;
}
hr{
   margin: 0px 100px;
  
}
.center_footer div{
    display: flex;
    flex-direction: column;
 align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.center_footer div a {
    padding: 10px;
    padding-left: 0px;
    color: rgba(115, 115, 115, 1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 700px;
}
.especial p{
    font-size: 12px;
    color: rgba(115, 115, 115, 1);

}
.get {
    display: flex;
    justify-content: space-between;
    width: 321px;
    height: 58px;
 border-radius: 5px;
background-color: rgba(230, 230, 230, 1);
}

.email, .suscribe{
    padding: 15px;
    border: none;
outline: none;
color: white;
transition: all ease 0.2s;
}
 .suscribe:hover{
    transition: all ease 0.5s;
transform: scale(1.05);
}
.email{
    background-color: transparent;
}
.suscribe{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(35, 166, 240, 1);
}
.bottom_footer{
    color: rgba(115, 115, 115, 1);
font-size: 14px;
    background-color: rgba(250, 250, 250, 1);
     padding: 20px;
    padding-left: 100px;
}

@media screen and (max-width:950px){
   .buttons_header{
     display: none;
   }
}

@media screen and (max-width:639px){
.presentation{
    position: relative;
}
    .icon_responsive {
        display:flex ;
    }

    .cross {
        color: rgba(115, 115, 115, 1);
        opacity: 1;
        position: absolute;
        right: 20px;
        top: 50px;
        z-index: 5;
    }
 
    .buttons_header{
        display: none;
    }
    .menu ul {
        background-color: rgba(250, 250, 250, 1);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        text-align: center;
        padding-left: 0px;
        margin-left: -100%;
        transition: all 0.5s ease;
        z-index: 5;
    }

    .menu ul a {
font-weight: 400px;
    }
    .menu ul a:hover {
        color: #23A6F0;
    }

    .menu ul.mobile-menu {
        margin-left: 0;
        transition: all 0.5s ease;
    }



    .options{
        gap: 30px;
    }
    .brands,.desc_faqs,.trial p,.description{
        width: auto;
    }
    .brands_items{
        flex-direction: column;
 gap: 50px;
    }
    .arrow{
        display: none;
    }
    .support,.bottom_footer p{
        width: 200px;
        margin: auto;
        text-align: center;
    }
    hr{
        display: none;
    }
    header,.pricing,.trial,.top_footer,.center_footer,.bottom_footer{
        padding-left: 20px;
        padding-right: 20px;
    }

    .trial {
        text-align: center;
    }
    .top_footer,.center_footer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
    }
}



